################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/RRemote/bin
/src/RRemote/obj
/src/.vs/RRemote/v16
/.vs
/src/RRemote/AppPackages
/src/RRemote/BundleArtifacts
/src/RRemote/Package.StoreAssociation.xml
/src/apps.2339.14127520862724523.a878ddce-64ba-4cc2-81db-a460378a2b5f.jfif
